/* IMPOSTAZIONI GENERALI */
<style > 

  body {
    background-image: url(../img/sfondo.png);
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

/* HEADER */
header{
  background-color:linear-gradient(rgb(72, 201, 226)rgb(72,201,226));
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
</style>